<!doctype html>
<html>
<head>
	<title>Check Similarities</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa"></span> Check Similarities</h1>

		<h1>URL of file to check</h1>
        <form action="http://stormy-taiga-8174.herokuapp.com:8080/check" method="get"> 
            <input type="text" id="url"></input>
            <input type="submit" value="check">
        </form>

	</div>

</div>
</body>
</html>