<!doctype html>
<html>
<head>
	<title>Code Originiality Checker</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa"></span>Code Originiality Checker</h1>

		<h3>Insert a URL of a raw Github file here that you would like to check for originality.</h3>
		<h4>For example: <a href="https://raw.githubusercontent.com/vahaknp/Dzoor/master/app.js">https://raw.githubusercontent.com/vahaknp/Dzoor/master/app.js</a></h4>
		</br>
        <form action="http://stormy-taiga-8174.herokuapp.com/check" method="post" target="_blank">
        <!-- <form action="http://127.0.0.1:8080/check" method="post" target="_blank"> -->
            <input type="text" id="url" name="url" style="width:800px"></input>
            <input type="submit" value="Check">
        </form>

	</div>

</div>
</body>
</html>